@font-face {
  font-family: myFirstFont;
  src: url("aAnotherTag.otf");
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html {
  height: 100%;
  width: 100%;
}
body {
  font-family: myFirstFont, san-serif;
}
.little { 
  width: 100px;
}
#big { 
  width: 500px;
}
.par1 {
  color: darkviolet;
font: bold;
}
.par2 {
  color: crimson;
font-family: roboto-<uniquifier>;
}
.par3 {
  color: darkblue;
}